<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UE4Launcher.Preferences" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ProjectLauncher.Preferences" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ProjectLauncher.LauncherSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <UE4Launcher.Preferences>
            <setting name="AttachDebugger" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StartWithWindows" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CloseToSystemTray" serializeAs="String">
                <value>True</value>
            </setting>
        </UE4Launcher.Preferences>
        <ProjectLauncher.Preferences>
            <setting name="AttachDebugger" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DebuggerIndex" serializeAs="String">
                <value>0</value>
            </setting>
        </ProjectLauncher.Preferences>
        <ProjectLauncher.LauncherSettings>
            <setting name="ProjectPath" serializeAs="String">
                <value />
            </setting>
        </ProjectLauncher.LauncherSettings>
    </userSettings>
</configuration>